<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="margin-left: 60px; margin-top: 20px;">
        <div style="margin-top: 10px;" class="col-4">ABOUT FRIENDS CHAI CLUB
             <h6 style="color:blue; margin-top: 20px;">Chai-on-Call</h6><br>
            <h6 style="color:blue;">Subscribe to Friends Chai Club </h6>

        </div>
        <div style="margin-top: 10px;" class="col-4">CONTACT<br>
            <h6 style="color:blue; margin-top: 20px;">Mail: friendschaiclub@gmail.com</h6><br>
            <h6 style="color:blue;">Mobile: 9397351542</h6>
        </div>
        <div style="margin-top: 10px;" class="col-4">CONNECT<BR>
            <h6 style="color:blue; margin-top: 20px;"><i style="margin-right: 10px;" class="fab fa-facebook"></i>Facebook</h6><br>
            <h6 style="color:blue;"> <i style="margin-right: 10px;" class="fab fa-instagram"></i>Instagram</h6><br>
            <h6 style="color:blue;"><i style="margin-right: 10px;"class="fab fa-twitter"></i>Twitter</h6><br>
            <h6 style="color:blue;"><i style="margin-right: 10px;" class="fab fa-snapchat"></i>Snapchat</h6>
        </div>
      </div>
</body>
</html>
