body{
    background-image: url("../../assets/Images/bg10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}