<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <h4 style="text-align: center;">TEA</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Masala Tea
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/masala tea.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-6/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Ginger Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/ginger tea.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-6/Cup</div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Irani Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/irani-Chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-12/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Kesar Elaichi Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/kesar chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-12/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Jaggery Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/JaggeryTea_Jolly.JPG" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-8/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cutting Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cutting chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-7/Cup</div>
          </div>
        </div>
        </div>
      
        
</body>
</html>
