.card{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 25px solid brown; 
}
h4{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}
.card-header{
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
.card-footer{
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}