<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4 style="text-align: center;">COOKIES</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Chocolate Chip
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/chocolate chip.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-65/packet</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Donuts</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/donut.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-73/piece </div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header"> Osmania Biscuits</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/osmania bic.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-26/Packet</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Mom's Magic</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/mom's magic.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-10/Packet</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Oreo</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/oreo.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-10/Packet</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Unibic</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/unibic.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-10/Packet</div>
          </div>
        </div>
        </div>
    
</body>
</html>
