<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1 style="text-align: center; font-family: cursive; color:limegreen;margin-bottom: 10px;">ABOUT US</h1>
<body>
    
    <div style="background-color:lightcoral;" class="container">
        <div class="container_image">
            
            <div class="container_info container_location">
                Friends Chai Club is founded by three friends who always hang out over the weekend in a cafe. One day, they thought instead of coming to the cafe and spending a lot of money why shouldn't we start our own Chai Club where we can hang out as well as earn money. This idea resulted in the foundation of the Friends Chai Club. They decided to name the Chai Club as Friends Chai Club as it resembles their friendship.

                Our Strategically designed Friends Chai Club menu consists of tea, coffee, snacks and cookies.
            </div>
        </div>
    </div>
    
      
</body>
</html>
