<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4 style="text-align: center;">COFFEE</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Filter Coffee
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/filter coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-119/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cappuccino</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cappuci coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-149/Cup</div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Americano</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/amer coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-129/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Latte Macchiato</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/latte.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-149/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Black Coffee</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/black coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-225/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cold Coffee</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cold coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-166/Cup</div>
          </div>
        </div>
        </div>
      
</body>
</html>
