<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4 style="text-align: center;">SNACKS</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Butter Maggie
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/butter maggie.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-90/Plate</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Masala Bun</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/masala bun.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-45/Piece</div>
          
         </div>
         </div>
          
         <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Veg Noodles</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/veg noodles.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-60/Plate</div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Veg Manchurian</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/veg manchuria.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-80/Plate</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Chicken manchurian</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/chicken manchurian.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-90/Plate</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Chicken Keema Samosa</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/chicken keema samosa.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-100/Plate</div>
          </div>
        </div>
        </div>
</body>
</html>
