
.row{
    width: 70%;
    margin-left: 190px;
    margin-bottom: 15px;
    border: 10px solid burlywood;
    height: 400px;
    background-color:lightseagreen;
}
.form-label{
    color:navy;
    font-weight: bold;
}
.btn{
    margin-left: 430px;
    margin-bottom: 10px;
}
.form-control{
    border-color:purple;
}