<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<h1 style="text-align: center; font-family:cursive; color:mintcream;background-color:teal;">MENU</h1>
<body style="background-color:navajowhite;">
    <h4 style="text-align: center;">TEA</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Masala Tea
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/masala tea.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-6/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Ginger Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/ginger tea.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-6/Cup</div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Irani Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/irani-Chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-12/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Kesar Elaichi Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/kesar chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-12/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Jaggery Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/JaggeryTea_Jolly.JPG" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-8/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cutting Tea</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cutting chai.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-7/Cup</div>
          </div>
        </div>
        </div>

        <h4 style="text-align: center;">COFFEE</h4>
    <div class="row">
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Filter Coffee
            
            </div>
            <div class="card-body">
                <img src="./assets/Images/filter coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-119/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cappuccino</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cappuci coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-149/Cup</div>
          
         </div>
         </div>
          
        
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Americano</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/amer coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-129/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Latte Macchiato</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/latte.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-149/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Black Coffee</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/black coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-225/Cup</div>
          </div>
        </div>
        <div class="col-2.4">
          <div class="card">
    
            <div class="card-header">Cold Coffee</div>
            
            
            <div class="card-body">
                <img src="./assets/Images/cold coffee.jpg" width="300px" height="300px"> 
            </div>
            <div class="card-footer">Price:Rs-166/Cup</div>
          </div>
        </div>
        </div>

        <h4 style="text-align: center;">SNACKS</h4>
        <div class="row">
            <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Butter Maggie
                
                </div>
                <div class="card-body">
                    <img src="./assets/Images/butter maggie.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-90/Plate</div>
              </div>
            </div>
            <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Masala Bun</div>
                
                
                <div class="card-body">
                    <img src="./assets/Images/masala bun.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-45/Piece</div>
              
             </div>
             </div>
              
             <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Veg Noodles</div>
                
                
                <div class="card-body">
                    <img src="./assets/Images/veg noodles.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-60/Plate</div>
              
             </div>
             </div>
              
            
            <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Veg Manchurian</div>
                
                
                <div class="card-body">
                    <img src="./assets/Images/veg manchuria.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-80/Plate</div>
              </div>
            </div>
            <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Chicken manchurian</div>
                
                
                <div class="card-body">
                    <img src="./assets/Images/chicken manchurian.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-90/Plate</div>
              </div>
            </div>
            <div class="col-2.4">
              <div class="card">
        
                <div class="card-header">Chicken Keema Samosa</div>
                
                
                <div class="card-body">
                    <img src="./assets/Images/chicken keema samosa.jpg" width="300px" height="300px"> 
                </div>
                <div class="card-footer">Price:Rs-100/Plate</div>
              </div>
            </div>
            </div>
            <h4 style="text-align: center;">COOKIES</h4>
            <div class="row">
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header">Chocolate Chip
                    
                    </div>
                    <div class="card-body">
                        <img src="./assets/Images/chocolate chip.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-65/packet</div>
                  </div>
                </div>
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header">Donuts</div>
                    
                    
                    <div class="card-body">
                        <img src="./assets/Images/donut.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-73/piece </div>
                  
                 </div>
                 </div>
                  
                
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header"> Osmania Biscuits</div>
                    
                    
                    <div class="card-body">
                        <img src="./assets/Images/osmania bic.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-26/Packet</div>
                  </div>
                </div>
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header">Mom's Magic</div>
                    
                    
                    <div class="card-body">
                        <img src="./assets/Images/mom's magic.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-10/Packet</div>
                  </div>
                </div>
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header">Oreo</div>
                    
                    
                    <div class="card-body">
                        <img src="./assets/Images/oreo.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-10/Packet</div>
                  </div>
                </div>
                <div class="col-2.4">
                  <div class="card">
            
                    <div class="card-header">Unibic</div>
                    
                    
                    <div class="card-body">
                        <img src="./assets/Images/unibic.jpg" width="300px" height="300px"> 
                    </div>
                    <div class="card-footer">Price:Rs-10/Packet</div>
                  </div>
                </div>
                </div>



    
</body>

</html>
